@import '~antd/dist/antd.css';
@import '~react-bubble-chart/src/style.css';

#__next {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.bubble-chart-container {
  height: 100%;
  width: 100%;
}